body {
    background-color: lightgray;
    margin: 0;
}

input {
    border-style: solid;
    border-color: lightgrey;
    margin: 3%;
    resize: none;
    outline: none;
    font-size: 140%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-flexbox;
    width: 60%;
    padding: 1%;
    border-radius: 1em;
}

.Title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 150%;
    padding-top: 3%;
    padding-left: 3%;
}

.postClass {
    margin: 5%;
    border: 2px;
    padding: 1%;
    border-style: solid;
    border-color: lightgray;
    overflow-wrap: break-word;
    border-radius: 1em;
}

.usernameP {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contentP {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
    border-radius: 1em;
    margin: 3%;
    resize: none;
    font-size: 140%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-flexbox;
    width: 85%;
    height: 200%;
    padding: 1%;
    outline: none;
    border: none;
    border-color: lightgray;
    border-style: solid;
}

.defButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    outline-color: lightgrey;
    border-radius: 0;
    border: lightgray;
    padding: 1%;
    margin-left: 3%;
    border-style: none;
    outline-style: groove;
    border-radius: 0.5em;
}

.defButton:hover {
    outline-color: whitesmoke;
}

#PageButtons {
    margin: 0 auto;
}

#Header {
    background-color: midnightblue;
    height: 105px;
    box-shadow: 3px;
    margin: 0;
}

#Content {
    margin: 1%;
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px;
    padding-bottom: 100%;
    border-radius: 1em;
}

.pageButton {
    border-style: none;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 130%;
    background-color: #404091;
    color: white;
    padding: 0.5%;
    border-radius: 0.5em;
    box-shadow: 3%;
}